.current-score-section {
  align-items: center;
  background-color: #252d4a;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
  font-size: 24px;
}
